@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

html { /* Fix for horizontal scrollbar pushing the content */
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}